<html> <head>
<link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
</head>
<body>
</body>
</html>
Wave 9
<form name="input" method="get">
<select name="figure_id" id="figure_id">
<option value="">Figure</option>
<option value="AppleJack">AppleJack</option>
<option value="Big_MacIntosh">Big MacIntosh</option>
<option value="Fluttershy_II">Fluttershy II</option>
<option value="Pinkie_Pie">Pinkie Pie</option>
<option value="Rainbow_Dash">Rainbow Dash</option>
<option value="Rarity">Rarity</option>
<option value="Amethyst_Star_II">Amethyst Star II</option>
<option value="ShoeShine_II">ShoeShine II</option>
<option value="Noteworthy">Noteworthy</option>
<option value="Sea_Swirl">Sea Swirl</option>
<option value="Berryshine_II">Berryshine II</option>
<option value="Princess_Cadance_II">Princess Cadance II</option>
<option value="Peachy_Sweet_II">Peachy Sweet II</option>
<option value="Lily_Valley">Lily Valley</option>
<option value="Nurse_Snowheart">Nurse Snowheart</option>
<option value="Sprinkle_Medley">Sprinkle Medley</option>
<option value="Tropical_Storm">Tropical Storm</option>
<option value="Mr__Carrot_Cake">Mr. Carrot Cake</option>
<option value="Green_Jewel">Green Jewel</option>
<option value="Lavender_Fritter">Lavender Fritter</option>
<option value="Apple_Honey">Apple Honey</option>
<option value="Honey_Rays">Honey Rays</option>
<option value="Prism_Glider">Prism Glider</option>
<option value="Grape_Delight">Grape Delight</option>
</select>
<select name="letter_id" id="letter_id">
<option value="">Letter</option>
<option value="A">A</option>
<option value="B">B</option>
<option value="C">C</option>
<option value="D">D</option>
<option value="E">E</option>
<option value="F">F</option>
<option value="G">G</option>
<option value="H">H</option>
<option value="I">I</option>
<option value="K">K</option>
<option value="L">L</option>
<option value="M">M</option>
<option value="N">N</option>
<option value="O">O</option>
<option value="P">P</option>
<option value="R">R</option>
<option value="S">S</option>
<option value="T">T</option>
<option value="U">U</option>
<option value="V">V</option>
<option value="W">W</option>
<option value="X">X</option>
<option value="Y">Y</option>
<option value="Z">Z</option>
</select>
Wave 10
<select name="figure10_id" id="figure10_id">
<option value="">Figure</option>
<option value="AppleJack">AppleJack</option>
<option value="Big_MacIntosh">Big MacIntosh</option>
<option value="Fluttershy">Fluttershy</option>
<option value="Pinkie_Pie">Pinkie Pie</option>
<option value="Rainbow_Dash">Rainbow Dash</option>
<option value="Rarity">Rarity</option>
<option value="Amethyst_Star">Amethyst Star</option>
<option value="ShoeShine">ShoeShine</option>
<option value="Noteworthy">Noteworthy</option>
<option value="Sea_Swirl">Sea Swirl</option>
<option value="Berryshine">Berryshine</option>
<option value="Princess_Cadance">Princess Cadance</option>
<option value="Peachy_Sweet">Peachy Sweet</option>
<option value="Lily_Valley">Lily Valley</option>
<option value="Nurse_Snowheart">Nurse Snowheart</option>
<option value="Sprinkle_Medley">Sprinkle Medley</option>
<option value="Tropical_Storm">Tropical Storm</option>
<option value="Mr__Carrot_Cake">Mr. Carrot Cake</option>
<option value="Green_Jewel">Green Jewel</option>
<option value="Lavender_Fritter">Lavender Fritter</option>
<option value="Apple_Honey">Apple Honey</option>
<option value="Honey_Rays">Honey Rays</option>
<option value="Prism_Glider">Prism Glider</option>
<option value="Grape_Delight">Grape Delight</option>
</select>
</select>
<select name="letter10_id" id="letter10_id">
<option value="">Letter</option>
<option value="A">A</option>
<option value="B">B</option>
<option value="C">C</option>
<option value="D">D</option>
<option value="E">E</option>
<option value="F">F</option>
<option value="G">G</option>
<option value="H">H</option>
<option value="I">I</option>
<option value="K">K</option>
<option value="L">L</option>
<option value="M">M</option>
<option value="N">N</option>
<option value="O">O</option>
<option value="P">P</option>
<option value="R">R</option>
<option value="S">S</option>
<option value="T">T</option>
<option value="U">U</option>
<option value="V">V</option>
<option value="W">W</option>
<option value="X">X</option>
<option value="Y">Y</option>
<option value="Z">Z</option>
</select>
<input type="submit" value="Submit">
<br>

Wave 9
Look on the bag for the letter <font color="red"><%= @figure.letter %></font>.
The figure is <font color="red"><%= @figure.figure %></font>.
<br>

Wave 10
Look on the bag for the letter <font color="red"><%= @figure.letter10 %></font>.
The figure is <font color="red"><%= @figure.figure10 %></font>.
</form>
<%= image_tag "brony-blind-bag-cheat-cover2.0.jpg" %>


	